@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.blog-post {
  border: 1px black dashed;
  padding: 10px;
}

.half-width {
  float: left;
  width: 50%;
  padding: 10px;
}

.argument-list .arg {
  cursor: pointer;
  font-weight: bold;
}

.argument-modal {
  pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
  .string { color: green; }
  .number { color: darkorange; }
  .boolean { color: blue; }
  .null { color: magenta; }
  .key { color: red; }
}

.row {
  margin-bottom: 20px;
}

.log-list {
  list-style: none;
  padding-left: 0;
}

.log-list-item {
  padding: 5px 0;
}
