@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.blog-post {
  border: 1px black dashed;
  padding: 10px;
}

.half-width {
  float: left;
  width: 50%;
  padding: 10px;
}

.argument-list .arg {
  cursor: pointer;
  font-weight: bold;
}
